
.search-input,
.search-btn {
  height: 40px; /* Consistent height */
  padding: 8px 12px; /* Consistent padding */
  border-radius: 8px; /* Rounded corners */
  box-sizing: border-box; /* Include padding in height */
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #ccc; /* Add a border for consistency */
}

.search-input {
  width: 400px !important; /* Override width */
  padding: 8px 12px !important; /* Override padding */
  margin-bottom: 0 !important; /* Remove margin-bottom */
  border: 1px solid #ccc; /* Ensure consistent border */
  border-radius: 8px !important; /* Ensure consistent border radius */
  font-size: inherit !important; /* Ensure consistent font size */
  height: 40px !important; /* Ensure consistent height */
  box-sizing: border-box !important; /* Include padding in height */
  outline: none;
}

.search-input[type=text]:focus {
  border: 2px solid #d32f2f;
  outline: none !important;
}

.search-select {
  width: 300px;
}

.search-btn {
  background-color: d32f2f;
  border: none;
  background-color: #d32f2f;
  cursor: pointer;
}

.search-btn:hover {
  background: rgba(211, 47, 47, 0.2);
}
  
.search-icon-button {
  display: flex;
  align-items: center;
  direction: horizontal;
  max-height: 24px;
  color: #fff;;
  padding-right: 5px;
  padding-left: 5px;
}

.search-icon {
  padding-right: 5px;
  width: 18px;
  height: 18px;
}