.home-book-grid {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0px 0 300px; /* Adds a 50px offset by increasing left padding (20px + 50px = 70px) */
}
  
  .home-header{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: px;
    margin-bottom: 10px;
  }

  