.read-book-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }

  .read-book-container .cover-content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
  }

  .read-book-container .cover-content h2 {
    margin-top: 0;
    font-size: 1.8rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  .read-book-container .cover-content img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
  }

  .star.filled {
    color: gold; /* Gold color for filled stars */
  }
  
  .star:hover {
    color: #ffcc00; /* Highlight color on hover */
  }

  .genre-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    max-height: 90px;
    overflow: hidden;
    justify-content: left; /* Centers the tags horizontally */
    align-items: center; /* Centers the tags vertically if needed */
  }
  
  .genre-bubble {
    background-color: #f0f0f0;
    color: #333;
    border-radius: 12px;
    padding: 2px 8px;
    margin: 2px;
    font-size: 0.8rem;
    white-space: nowrap;
  }
  
  .read-book-container .chapter-content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .read-book-container .chapter-content h2 {
    margin-top: 0;
    font-size: 1.8rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Add a styled box around the chapter text */
  .read-book-container .content-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 0 auto;
    word-wrap: break-word;
  }
  
  .read-book-container .content {
    line-height: 1.8;
    font-size: 1.1rem;
    color: #444;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .save-book-button {
    margin: 5px auto 20px auto; /* Centers horizontally */
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #d32f2f;
    color: white;
    display: block; 
    text-align: center;
    top: 69px; /* Adjusts distance from the bottom */
    left: 150px;
    width: 120px;
  }


.comments-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-top: 50px;
  }
  
  .comments-header h2 {
    font-size: 1.5rem;
    margin-bottom: 0 !important;
    color: #444;
  }
  
  .login-message {
    padding: 12px 18px;
    border-radius: 6px;
    background-color: #d32f2f;
    color: white;
    font-weight: bold;
    border: none;
  }
  
  .new-comment-button {
    padding: 12px 18px;
    margin-right: 10px;
    border-radius: 6px;
    background-color: #d32f2f;
    color: white;
    font-weight: bold;
    transition: background 0.3s ease;
    cursor: pointer;
    border: none;
  }
  
  .new-comment-button:hover {
    background-color: #b71c1c;
  }
  
  ul.comments-list {
    padding-inline-end: 35px !important;
  }
  
  .comments-list li {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    margin-bottom: 15px;
    list-style-type: none;
    background-color: #fafafa;
    border-radius: 6px;
    color: #444;
    white-space: pre-wrap; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
  }
  
  .comments-list li:hover {
    background-color: #f1f1f1;
  }
  
  .comments-list strong {
    font-size: 1.1em;
    color: #333;
  }
  
  .comments-list div {
    margin-top: 5px;
    color: gold;
  }
  
  .comments-list p {
    margin-top: 5px;
    color: #444;
    line-height: 1.6;
  }
  
  
  .chapter-pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 15px;
    }
    
    .chapter-pagination button {
      padding: 8px 12px;
      border: none;
      background-color: #d32f2f;
      color: white;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.2s;
    }
    
    .chapter-pagination button:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
    
    
    
    .chapter-pagination span {
      font-size: 16px;
      font-weight: bold;
    }
  
    
  
    .read-book-container .chapter-list {
      width: 250px; /* Slightly larger for better usability */
      border-right: 1px solid #e0e0e0;
      padding: 20px;
      overflow-y: auto;
      background-color: #f7f7f7;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }
    
    .read-book-container .chapter-list h3 {
      margin-bottom: 20px;
      font-size: 1.3rem;
      font-weight: bold;
      color: #333;
    }
    
    .read-book-container .chapter-list ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .read-book-container .chapter-list li {
      padding: 10px;
      cursor: pointer;
      border-radius: 6px;
      transition: background-color 0.3s ease, padding-left 0.3s ease;
      font-size: 1rem;
      color: #555;
    }
    /* 
    .read-book-container .chapter-list li:hover {
      background-color: #eaeaea;
      padding-left: 15px;
    } */
    
    .read-book-container .chapter-list li.active {
      background-color: #d4d4d4;
      font-weight: bold;
      color: #333;
    }

    .read-book-container .chapter-list cover {
      padding: 10px 20px 10px 0px;
      cursor: pointer;
      border-radius: 6px;
      transition: background-color 0.3s ease, padding-left 0.3s ease;
      font-size: 1.3rem;
      font-weight: bold;
      color: #333;
      text-align: left;
    }

    .read-book-container .chapter-list cover.active {
      font-weight: bold;
      color: #d32f2f;
    }