/* Add your global styles here */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.book-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.book-card img {
  max-width: 100%;
  height: auto;
}

.chapter-logo {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 10; 
}

.header {
  background-color: #ffecec;
  padding: 15px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end; 
  padding-right: 30px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 8px;
  color: #d32f2f;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
}

.nav-item:hover {
  background: rgba(211, 47, 47, 0.2);
}

.login-btn {
  border: 2px solid #d32f2f;
  border-radius: 8px;
  padding: 10px 15px;
}

.login-btn:hover {
  background: #d32f2f;
  color: white;
}
