.read-book-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .read-book-container .chapter-list {
    width: 200px; /* Decrease the width of the chapter list */
    border-right: 1px solid #ccc;
    padding: 10px;
    overflow-y: auto;
    background-color: #f9f9f9;
    min-width: 70px; /* Ensure it doesn't go below this width */
  }
  
  .read-book-container .chapter-list h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .read-book-container .chapter-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .read-book-container .chapter-list li {
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }
  
  .read-book-container .chapter-list li:hover {
    background-color: #e6e6e6;
  }
  
  .read-book-container .chapter-list li.active {
    background-color: #d4d4d4;
    font-weight: bold;
  }
  
  .read-book-container .chapter-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    word-wrap: break-word;
  }
  
  .read-book-container .chapter-content h2 {
    display: flex;
    margin-top: 0;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .read-book-container .content {
    line-height: 1.6;
    font-size: 1rem;
    max-width: 95%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  .view-comments-button {
    padding: 8px; 
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    font-size: 1rem; 
    background: none; 
    border: none; 
    width: 100%; 
    text-align: left; 
    margin-top: 20px; 
    font-weight: bold;
  }
  
  .view-comments-button:hover {
    background-color: #e6e6e6; 
  }
  
  .view-comments-button.active {
    background-color: #d4d4d4;
    font-weight: bold;
  }

  .comments-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    position: relative;
  }

  .comments-header h2 {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    margin-bottom: 0 !important;
    text-align: center;
  }
  
  .new-comment-button {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    color: #d32f2f;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
    display: inline-block;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .new-comment-button:hover {
    background: rgba(211, 47, 47, 0.2);
  }
  
  .comments-list li {
    border-bottom: 1px solid #ddd;
    padding: 15px 10px; 
    margin-bottom: 15px; 
    list-style-type: none;
    background-color: #f9f9f9; 
    border-radius: 4px; 
    white-space: pre-wrap; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
  }
  
  .comments-list li:hover {
    background-color: #f0f0f0; 
  }
  
  .comments-list strong {
    font-size: 1.2em;
    color: #333; 
  }
  
  .comments-list div {
    font-style: italic;
    margin-top: 5px;
    color: #777; 
  }
  
  .comments-list p {
    margin-top: 5px;
    color: #555; 
    line-height: 1.5;
  }